@model ContactUs

@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading about-page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
             
                    <h2>Contact Us</h2>
                    <span>Awesome, clean &amp; creative HTML5 Template</span>
               
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->
<!-- ***** Contact Area Starts ***** -->
<div class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div id="map">

                    
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>კ ო ნ ტ ა ქ ტ ი</h2>
                    <span></span>
                </div>
                <form id="contact" action="" method="post">
                    <div class="row">
                        <div class="col-lg-6">
                            <fieldset>
                                <input name="name" type="text" id="Name" placeholder="სახელი" required="">
                            </fieldset>
                        </div>
                        <div class="col-lg-6">
                            <fieldset>
                                <input name="email" type="text" id="Email" placeholder="მეილი" required="">
                            </fieldset>
                        </div>
                        <div class="col-lg-6">
                            <fieldset>
                                <input name="phone" type="text" id="Phone" placeholder="ტელეფონი" required="">
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <textarea name="commentTXT" rows="6" id="CommentTXT" placeholder="ტექსტი" required=""></textarea>
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <button type="submit" id="form-submit" class="main-dark-button" style="width:100px">გაგზავნა<i class="fa fa-paper-plane"></i></button>

                        </div>
                    </div>
                    <div style="color:green">@ViewBag.send</div>
                </form>
            </div>
        </div>
    </div>
</div>
