@model Bags_Accessories.Models.CommentClient

@{
    ViewData["Title"] = "CommentDelete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>შეტყობინება</h1>

<h3>ნამდვილად გსურთ წაშლა?</h3>
<div>
    <hr />
  <table>
     <tr>
            <td>Name: </td>
            <td>@Model.Name</td>
     </tr>
        <tr>
            <td>Email: </td>
            <td>@Model.Email</td>
        </tr>
                <tr>
            <td>Comment: </td>
            <td>@Model.CommentTXT</td>
        </tr>
        <tr>
            <td>Created Date: </td>
            <td>@Model.CreatedateTime.ToString("dd-MM-yyyy HH:mm:ss")</td>
        </tr>
 </table>

    <form asp-action="CommentDelete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="წაშლა" class="btn btn-danger" /> |
        <a asp-action="CommentClient">უკან დაბრუნება</a>
    </form>
</div>
